<li>
	
	{{name}}
		<button class="viewed" data-id="{{id}}" data-newLiked="{{liked}}">
			{{#if liked}}<i class="far fa-thumbs-up"></i>{{else}}<i class="far fa-trash-alt"></i>{{/if}}
		</button>

		<button class="delete-show" data-id="{{this.id}}"><i class="far fa-thumbs-down"></i></button>

</li>
